@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

.landingpage{
  width: 100%;
  height: 100vh;
}
.landingpage:before{
  content: '';
  position: fixed;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.divMainLandingPageNavbar{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
 
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
}

.cabecalho-imagem {
    content: '';
    margin-left: 5%;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;

}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}


.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
  background-color: #ECD6C4;
  width: 155px;
  display: flex;
  padding: 15px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #2F2325;
}
#cadastro{
  margin-right: 5%;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 300px;
  width: 19%;
  margin-top: 30px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 24px;
 
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}
@media screen and (max-width:940px) {
  
  body{
    width: 100%!important;
    height: auto!important;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%)!important;
  }
  .landingpage{
    height: auto;
  }
 
  .conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 110px;
    display: flex;
    padding: 15px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #2F2325;
  }
  .conteudo-principal-imagem {
    height: 200px;
    width: 190px;
  }
  .conteudo-principal{
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  
  }

  .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FFF2E7;
  }
 
  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    gap: 24px;
   
  }
  
  
  
}
@media screen and (max-width:1400px) {
  .conteudo-principal-imagem {
    height: 200px;
    width: 190px;
  }
}





