.modalBackground3 {
  width: 100%;
  height: auto;
  top: 190px;
  position: fixed;
  display: flex;
  justify-content: center;
  color: #532E1C;
  align-items: center;
}

.modalContainer3 {
  width: 40%;
  height: 200px;
  margin-top: 16px;
  border-radius: 12px;
  background-color: #E6E6E6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
}

.navmodal {
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;
  background-color: #E6E6E6;

}
.btn-confirmacao{
 margin-left: 5%;
 background-color:red ;
}
.btn-confirmacao2{
 margin-right: 5%;
 background-color: green;
}


.footermodal {
  align-items: center;
  width: 100%;
  margin-top: 50px;
  border-radius: 0 0 12px 12px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}





.fadeIn {
  animation: fadeIn 1s linear;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 10;
  }
}


@media screen and (max-width:940px) {
  .modalContainer3 {
    width: 95%;
    height: auto;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #E6E6E6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
  }
}