.perfil {
    width: 100%;
    height: 100vh;
}

.perfil:before {
    content: '';
    position: fixed;
    background: url('../../assets/ongs-que-ajudam-animais-de-rua.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.foto-perfil{
    background: url('../../assets/WIN_20220927_16_51_31_Pro.jpg') no-repeat center center/cover;
    content: '';
    width: 7rem;
    height: 7rem;
    border: 4px solid #fff;
    margin-top: 115px;
    margin-left: 3%;
    cursor: pointer;
    border-radius:50%;
}
.box-perfil{
    width: 50%;
    display: flex;
    border-radius:12px 12px 0 0;
    height: 8rem;
    z-index: 2;
    background: #532E1C;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 1rem;
}
.perfil-container{
    padding-top: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gustavin{
    margin-top: 45px;
    margin-left: 5.3%;
    font-size: 20px;
    font-weight:500;
}
.label{
 margin-top: 15.9px;
}
.inp_perfil{
    width: 100%;
    padding: 0.8rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #333
}

.inpt{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.btn_perfil{
    margin-right: 4%;
    background-color: #532E1C;
}
.cantoEsquerdo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.inp_perfil:focus {
    color: #333;
    outline: var(--primary-color);
    box-shadow: 0 0 8px 0 var(--primary-dark);
}
.inputes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-perfil2{
    width: 50%;
    display: flex;
    z-index: 1;
    border-radius: 0 0 12px 12px;
    color: #000000;
    margin-bottom: 1.5%;
    height: auto;
    background: #E6E6E6;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
