.feed {
    width: 100%;
    height:100vh;
}


.feed::before {
    content: '';
    position: fixed;
    background: url('../../assets/ongs-que-ajudam-animais-de-rua.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}


.divpost{
    width: 50%;
    display: flex;
    border-radius:12px;
    color: #532E1C;
    height: 7rem;
    background: #E6E6E6;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.fotopost{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.btnpost{
    width: 80%;
    border: 1px solid #532E1C;
    background-color: #E6E6E6;
    color: #532E1C;
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
}
.btnpost:hover{
    background-color: #c5a880c0;
}


.localização{
    flex-direction: row;
    display: flex;
    cursor: pointer;
    padding: 15px;
    gap: 5px;
    align-items: center;
}
.localização:hover{
    color: #c5a880c0;
}
.foto-icon:hover{
    color:#c5a880c0;
}


.foto-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    gap: 5px;
    flex-direction: row;
}

.container-feed2{
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.foto_DoFeed{
    background: url('../../assets/fotoPadrão.png') no-repeat center center/cover;
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border-radius:50%;
}
.foto_DoFeed2{
   object-fit: cover;
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border-radius:50%;
}
@media screen and (max-width: 940px) {
    .divpost{
        width: 95%;
        display: flex;
        border-radius:12px;
        color: #532E1C;
        height: 7rem;
        background: #E6E6E6;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

