.Map{
    height: 100vh;
}
.map-marker{
    margin-bottom: 40px;
    color: white;
    font-size: 400px;
}
text{
    color: white;
    font-size: 400px; 
}
.markerStyle{
    background-image: url("../../assets/PataFofa.png");
}