.Map{
    height: 100vh;
}
.map-marker{
    background: url('../../assets/WIN_20220927_16_51_31_Pro.jpg') no-repeat center center/cover;
    content: '';
    width: 2.8rem;
    position: relative;
    height: 2.8rem;
    cursor: pointer;
    border-radius:50%;
}
text{
    color: white;
    font-size: 400px; 
}