@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-color: #532e1c;
  --primary-dark: #0f0f0f;
}
span {
  color: var(--primary-color);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
  background-color: rgb(29, 29, 29);
}
::-webkit-scrollbar {
  width: 8px;

  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 7px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 1.9rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  position: relative;
}

button {
  font-family: "Roboto", sans-serif;
  padding: 0.7rem 1.5rem;
  margin: 1rem 0;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  border-radius: 4px;
}

button:hover {
  background-color: #5f3d2b;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.3rem;
  }
}
